body {
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
}

video {
  width: 90%;
  border-radius: 25px;
}

.title {
  color: #000;
}

.subtitle {
  color: #000;
  margin-bottom: 10px !important;
}

#abstract .subtitle {
  font-weight: 700;
  font-size: 1.5em;
}

.hero.is-light {
  padding: 2rem 0;
}
.container {
  width: 75%;
  text-align: center;
  margin: auto;
}
.section {
  padding: 2rem 0;
}
.note p {
  font-size: 0.8em;
  font-style: italic;
  text-align: left;
}
.image-comparison {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  height: 100%;
}

.image-comparison .item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 250px;
  height: 100%;
  margin: 10px;
}

.image-comparison .item img {
  width: 250px !important;
  height: 250px !important;
}

.image-comparison .item h2 {
  font-size: 0.8em;
  font-style: italic;
  color: #a0a0a0 !important;
}

.has-text-grey {
  color: #a0a0a0 !important;
}

#abstract .title {
  font-size: 1.5em;
}

#flickerfusion-visual-demo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

#flickerfusion-visual-demo .left-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  text-align: left;
}

#flickerfusion-visual-demo .right-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#baseline-comparison-demo {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
}

@media screen and (max-width:1023px) {
  .container {
    width: 90%;
  }

  #flickerfusion-visual-demo {
    flex-direction: column
  }
  #flickerfusion-visual-demo .left-container {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
  }
}

